.calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  filter: drop-shadow(-10px -10px 30px #ffffff)
    drop-shadow(10px 10px 30px rgba(174, 174, 192, 0.4));
}
